LABEL solara
TEXT HELP
Boot Solara Linux live medium on BIOS.
Allows you to install Solara or perform system maintenance.
ENDTEXT
MENU LABEL Solara Linux (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL solara-speech
TEXT HELP
Boot Solara Linux on BIOS with speakup screen reader.
ENDTEXT
MENU LABEL Solara Linux (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on