[Unit]
Description=Plasma Wayland Autologin
After=graphical.target
Requires= graphical.target
Wants= graphical.target

[Service]
Type=simple
User=solara
WorkingDirectory=/home/solara
ExecStart=/usr/bin/dblaunch-wayland
Environment="XDG_SESSION_TYPE=wayland"
Environment="XDG_SESSION_DESKTOP=plasma"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target